body {
    font-family: 'Montserrat';
    margin: 0;

}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    background: red;
    padding: .5em;

    a {
        color: white;
        font-weight: bold;
    }
}

main {
    width: 80%;
    margin: 5em auto;

    a {
        display: inline-block;
        background: red;
        color: white;
        padding: .8em;
        margin-top: 2em;
    }
}